@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  background-color: orange;
  padding: 10px;
  margin: 0;
}

li a {
  color: black;
}

li a:hover {
  color: grey;
}

li {
  margin-bottom: 10px;
}

li:last-of-type {
  margin: 0;
}